@font-face {
  font-family:"BelovedSans";
  src:url("../fonts/Sans.woff2") format("woff2"),url("../fonts/Beloved Sans.woff") format("woff"),url("../fonts/Beloved Sans.otf") format("opentype");
  font-style:normal;
  font-weight:400;
  font-display: swap;

}

@font-face {
  font-family:"EymenPro-Light";
  src:url("../fonts/EymenPro-Light.woff2") format("woff2"),url("../fonts/EymenPro-Light.woff") format("woff"),url("../fonts/EymenPro-Light.otf") format("opentype");
  font-style:normal;
  font-weight:400;
  font-display: swap;

}

@font-face {
  font-family:"BelovedScript";
  src:url("../fonts/Beloved Script.woff2") format("woff2"),url("../fonts/Beloved Script.woff") format("woff"),url("../fonts/Beloved Script.otf") format("opentype");
  font-style:normal;
  font-weight:400;
  font-display: swap;
}
      
.share_on_social a,
#user_participation_info_container a {
  color:#000 !important;
}

.gui_prize_shares .share_on_social a {
  color:#fff !important;
}

#header_image img,
.main_img_promo img,
#final_image img {
  margin-bottom:20px !important;
  max-width: 220px;
}

@media  (max-width: 768px) { 
  #header_image img,
  .main_img_promo img,
  #final_image img {
    margin-bottom:20px !important;
    max-width: 220px;
  }
}

br {
  margin: 0 !important;
  padding: 0 !important;
}

.eymenpro, 
.eymenpro span,
.flex_button a,
.enter a,
.awesome .hb_secondaryFont a {
  font-family:"EymenPro-Light" !important; 
}

#ep-contents #ep_main_container.awesome .hb_secondaryFont a.enter_btn {
  color: #d35a17 !important;
}

.eymenpro span {
  display: block;
}

@media  (max-width: 768px) { 

  .eymenpro span {
    display: inline-block;
  }
  
}

.belovedsans { 
  font-family:"BelovedSans" !important;
}

.belovedscript {
  font-family:"BelovedScript" !important;
}

.uppercase {
  text-transform: uppercase;
}

.small {
  font-size: 16px;
  line-height: 16px;
}

.big {
  font-size: 44px;
  line-height: 44px;
}

.font-85 {
  font-size: 85px;
  line-height: 85px;
}

.bigger {
  font-size: 32px;
  line-height: 32px;
}


.prize_content {
  padding: 60px 0;
  width: 50vw;
  margin: 0 auto;
}

@media  (max-width: 768px) { 
  .prize_content {
    padding: 60px 0;
    width: 90vw;
    margin: 0 auto;
  }
}

#winner_content .prize_winner_content.this_contents.is_cl .prize_content :not(.gui_text_align_end,.gui_text_align_center) {
  text-align: center !important;
  color: #fff !important;
}

#ep-global-contents.wt_bg #user_participation_info_container .flex_contents :not(a,.redColor,.whiteColor) {
  color: #fff !important;
}

.prize_winner_content.this_contents.is_cl .gui_iconed_list_v:before, 
.prize_winner_content.this_contents.is_cl .prize_content :not(.gui_text_align_end,.gui_text_align_center) {
  text-align: center !important;
  color: #fff !important;
}

.prize_winner_content.this_contents.is_cl .prize_content .flex_contents {
    text-align: center !important;
}

.prize_content .prize_title {
  text-align: center !important;
  font-family:"EymenPro-Light" !important; 
}

.prize_content .prize_title span {
  text-align: center !important;
  color: #fff !important;

}

.prize_title strong {
  font-weight: 400;
  line-height: 32px;
}

.info_flexwrap .small_actions_flex {
  position: relative;
}

.ambiances-container {
  /* display: flex;
  column-gap: 30px;
  margin-bottom: 30px; */
  width: 100%;
  width: 1000px;
  left: calc(50% - -15px);
  position: relative;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}

@media  (max-width: 1000px) { 

  .ambiances-container {

    width: auto;
    left: unset;
    transform: unset;

  }

 

}

@media  (max-width: 768px) { 
  .ambiances-container {
    width: 80%;
    flex-direction: column;
    margin: 0 auto;
  }

  .ambiances-container > div {
    margin-bottom: 30px;
  }
}


/* .ambiances-container > div {
  flex: 0 0 33.333%;

} */

.ambiances-container .row-3,
.ambiances-container .row-5 {
  display: flex;
  column-gap: 30px;
  margin-bottom: 30px;
  width: 100%;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.ambiances-container .row-3 > div {
  flex: 0 1 calc(33.333% - 30px);
} 

.ambiances-container .row-5 > div {
  flex: 0 1 calc(25% - 30px);
} 

.ambiances-container div:not(.claim) > img {
  width: 100%;
}

.ambiances-container div.claim {
  padding:0 0 40px;
}

.promotion_title {
  display: none;
}

.texte-lots-container {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 60px 0;
}

.texte-lots-container > div {
  flex: 1 0 50%;
}

.texte-lots-container .first-child {
  position: relative;
}

.texte-lots-container .first-child:after {
  content: '&';
  width: auto;
  height: auto;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  display: block;
  left: 100%;
  color: #fff;
  font-size: 120px;
  font-family: "EymenPro-Light" !important;
}

.fittext-dynamic {
  white-space: nowrap;
}

#ep-contents.formadd_page {
  background-color: #fff !important;
}

#ep-contents.promoview_page .template_display	 {
  background-image:url(../img/TERREBATTUE_16_9.png) !important;
  background-position: center;
  background-size: cover;
}

.awesome .gui_form label,
.awesome .gui_form .hb_secondaryFont label a {
  font-family:"EymenPro-Light" !important; 
  color: #877e77 !important;
}

.field_UserComment span {
  font-family:"BelovedScript" !important;
  display: block;
}

.field_UserComment {
  font-size: bigger;
}

.gui_form .file input, .gui_form_owner .file input, .gui_form_owner div.text input, .gui_form div.text input {
  height: 46px !important;
  background-color: #ddd3ca !important;
  border-radius: 4px !important;
  color: #000 !important;
}

.ep_form .input input, .ep_form .input select, .ep_form .input textarea {
  color: #000 !important;
  background-color: #ddd3ca !important;
}

#overLimitMin.redColor,
.error-message {
  background-color: #fff;
}

#divbotosubmit {
  margin-bottom: 60px;
}

#UserPhone {
  margin-block-end: var(--grid-1)!important;
}

#divbotosubmit #botosubmit {
  background-color: #d35918 !important;
  color: #fff !important;
}

.prize_img img {
  height: auto;
  aspect-ratio: 1/1;
}

.prize_img {
  margin-bottom: 40px;
}

.won_prize {
  padding: 0 !important;
}

.winner_layer {
    max-width: unset;
}

.won_prize .this_contents {
  width: 100vw;
  max-width: unset;
  min-height: unset;
  height: 100vh;
  max-height: 100%;
}

#ep-global-contents #winner_content {
  background-image:url(../img/Claim_FondHerbe.jpg) !important;
  color: #fff !important;
  text-align: center !important;
}

#user_participation_info_container.user_participations_info li,
#user_participation_info_container.user_participations_info .won_prizes_textual_list {
  text-align: center !important;
}

#user_participation_info_container.user_participations_info .won_prizes_textual_list li {
  display: block !important;
}

#user_participation_info_container [class*=" knk-"]:not(.knk-close):before,
#user_participation_info_container [class^="knk-"]:not(.knk-close)::before {
  display: none;
}

.prize_item span {
  font-family:"BelovedScript" !important;
}

.gui_prize_shares {
  flex: 0 0 100%;
  width: 100%;
}

.gui_prize_shares .share_on_social {
  align-items: center;
  justify-content: center !important;
  margin: 0 20px;
  padding: 20px !important;
}

.gui_prize_shares .share_on_social a,
#user_participation_info_container .gui_prize_shares a {
  color: #fff !important;
}

#winner_content .short_description {
  font-size: 24px;
  line-height: 32px;
  text-shadow: 1px 1px 2px black;
}

#ep-global-contents.wt_bg .footer_flexwrap {
  background: unset !important;
  border:none !important;
  min-height: unset !important;
}

#ep-global-contents.wt_bg .footer_flexwrap * {
  color: #fff !important;
}

.mod_footer {
  padding: 0 0 20px;
}

.mod_footer>:only-child {
  margin: unset !important;
}